* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    width: 1920px;
    height: 4867px;
    background: #FFF;
}

header {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
}

.header-container {
    width: 1920px;
    height: 850px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-text {
    width: 708px;
    height: 506px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.header-text h1 {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-text p {
    width: 650px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.btn {
    width: 177px;
    height: 64px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background: #E55473;
    cursor: pointer;
    transition: background .3s linear;
}

.btn:hover {
    width: 174px;
    height: 61px;
    background: white;
    border: 1px solid #E55473;
    color: #E55473;
}

.header-img {
    width: 635px;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: end;
}

.header-img img {
    width: 635px;
    height: 800px;
}

.section-1 {
    width: 100%;
    height: 1489px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.feature {
    width: 1440px;
    height: 785px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-text {
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feature-text h1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-text p {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feature-card {
    width: 1440px;
    height: 605px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 464px;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.card-img-1 {
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card-img-2 {
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card-img-3 {
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card-text {
    width: 200px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.card-text:hover {
    font-size: 26px;
}

.service {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.support-1 {
    width: 372px;
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.support-1:nth-child(2) {
    width: 315px;
    height: 147px;
}

.support-1:nth-child(3) {
    width: 202px;
    height: 147px;
}

.support-1 p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.deal {
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
}

.hot-deal {
    width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.deal-text {
    width: 594px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.deal-text h1 {
    width: 537px;
    height: 48px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.deal-text p {
    display: flex;
    width: 594px;
    height: 60px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-2 {
    width: 100%;
    height: 1410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta {
    background: #FFF;
    width: 1440px;
    height: 1410px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.insta-deal {
    width: 100%;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.insta-card {
    width: 1440px;
    height: 396px;
    display: flex;
    justify-content: space-between;
}
.flower-card {
    width: 342px;
    height: 396px;
}
.latest-deal {
    background:url(./Flower-Asset/Rectangle9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1440px;
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.input {
    width: 893px;
    height: 64px;
    display: flex;
    justify-content: space-between;
}
.input input {
    width: 700px;
    height: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align:center;
    font-size: 16px;
    font-weight: 400;    
    border: none;
    outline: none;
}
.input input:hover {
    outline: 1px ;
}